@import "reset.css";
body {
  text-align: center;
  background-image: url("grass_background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
}

main {
  margin-top: 60px;
  padding: 40px;
  background-color: rgb(255, 248, 220);
  border-radius: 15px;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}
.inner_container {
  max-width: 900px;
}
.number_container {
  margin-inline: auto;
}
.pcContainer {
  margin: 10px;
  font-size: 20px;
  max-width: 450px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr, 1fr;
}
.pcNumberContainer {
  width: 450px;
  grid-column: 1 /2;
  display: flex;
  justify-content: space-around;
}
.outcome {
  padding-top: 10px;
  font-size: 18px;
  width: 450px;
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-around;
}

.guess_numbers {
  margin: 10px;
  font-size: 20px;
  max-width: 450px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr, 1fr;
}

.number_buttons {
  width: 450px;
  grid-column: 1 /2;
  display: flex;
  justify-content: space-around;
}
.number_buttons button{
  width: 60px;
  height: 70px;
}
.pcNumberContainer button{
  width: 60px;
  height: 70px;
}

.go_button {
  width: 450px;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
}
.new_game {
  padding: 15px;
  margin-top: 30px;
  margin-inline:40px ;
}

button {
  background-color: rgb(222, 184, 135);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

.dark_brown {
  background-color: rgb(139, 69, 19);
}
p {
  color: #512e1b;
  font-weight: 500;
}
h1 {
  font-size: 38px;
  color: #512e1b;
  font-weight: 700;
}
.print {
  color: #512e1b;
  font-weight: 700;
  margin-top: 10px;
}
.give_up
{
  margin-inline:40px ;
  padding: 15px;
  margin-top: 30px;
}
.instructions{
  margin-bottom: 40px;
}